<button *ngIf="type == 'back'" (click)="onClick()" class="border-[1px] border-gray-600 py-[7px] px-8 rounded-md">BACK</button>
<button *ngIf="type == 'cancel'" (click)="onClick()" class="border-[1px] border-danger bg-danger text-white py-[7px] px-8 rounded-md">CANCEL</button>
<button *ngIf="type == 'save'" (click)="onClick()" class="border-[1px] border-primary bg-primary text-white py-[7px] px-8 rounded-md">SAVE</button>
<button *ngIf="type == 'submit'" (click)="onClick()" class="border-[1px] border-success bg-success text-white py-[7px] px-8 rounded-md">Task Register</button>
<button *ngIf="type == 'create'" (click)="onClick()" class="border-[1px] border-success bg-success text-white py-[7px] px-8 rounded-md">Create</button>
<button *ngIf="type == ''" class="border-[1px] border-gray-200 bg-gray-200 text-gray-400 py-[7px] px-8 rounded-md">type not found!</button>
