<div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <app-title title="Search Employee/Contract"/>
      <button (click)="onClose()"><mat-icon>clear</mat-icon></button>
    </div>
    <hr class="">
    <div class="w-72">
        <label class="text-md font-medium pl-1" for="">Indicator</label>
        <app-input icon="search" placeholder="Indicator" />
    </div>
    <div class="">
        <table class="table text-md">
          <!-- head -->
          <thead>
            <tr class="border-gray-300 uppercase text-gray-700 ">
              <th class="text-center">employee</th>
              <th class="text-center">section</th>
              <th class="text-center">Indicator</th>
              <th class="text-center">email</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-gray-300" *ngFor="let item of dataEmployee">
                <td class="text-center">{{item.employee_displayname}}</td>
                <td class="text-center">{{item.employee_position}}</td>
                <td class="text-center">{{item.employee_position}}-{{item.employee_name}}</td>
                <td class="text-center">{{item.employee_email}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
