<div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <app-title title="Search Employee/Contract"/>
      <button (click)="onClose()"><mat-icon>clear</mat-icon></button>
    </div>
    <hr class="">
    <div class="w-72">
        <label class="text-md font-medium pl-1" for="">Indicator</label>
        <app-input icon="search" placeholder="Indicator" [formControl]="searchForm.get('indicator')" (outChange)="onChangeSearch($event)" />
    </div>
    <div class="max-h-[30vh] overflow-auto">
        <table class="table text-md">
          <!-- head -->
          <thead>
            <tr class="border-gray-300 uppercase text-gray-700 ">
              <th class="text-center">employee</th>
              <th class="text-center">section</th>
              <th class="text-center">Indicator</th>
              <th class="text-center">email</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-gray-300 hover:bg-gray-100 cursor-pointer" *ngFor="let item of dataEmployee" (click)="onAddMember(item)">
                <td class="text-center">
                  <div class="flex items-center gap-4">
                    <button class="flex items-center justify-center p-1 bg-[#f3f4f6] min-h-[26px] text-primary border-primary border-[1px] rounded-md">
                        <i class="fa-solid fa-user-plus text-md"></i>
                    </button>
                    <i class="fa-solid fa-user text-gray-500"></i>
                    {{item.employee_displayname}}
                  </div>
                </td>

                <td class="text-center">{{item.employee_position}}</td>

                <td class="text-center">{{item.employee_position}}-{{item.employee_name}}</td>

                <td class="text-center">{{item.employee_email}}</td>
            </tr>
            <tr class="border-gray-300" *ngIf="!dataEmployee.length">
              <td colspan="4" class="text-center">No data available</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="w-[50%]" *ngIf="data.value.length">
      <app-title title="Member Team" />
      <table class="table text-md mt-4">
        <tbody>
          <tr class="hover:bg-gray-100 border-none cursor-pointer font-medium" *ngFor="let item of data.value">
              <td class="text-center w-[10%]"><app-icon-button icon="delete" (outClick)="onRemoveMember(item.id!)" /></td>
              <td class="text-start w-[80%]">{{item.user_displayname}}</td>
              <td class="text-center w-[10%]">{{item.user_title}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
