
<div class="flex min-h-[90vh] flex-col justify-center px-6 py-12 lg:px-8">
  <!-- <div class="rounded-md bg-white border-[1px] border-gray-200 p-8 shadow-xl sm:mx-auto sm:w-full sm:max-w-max"> -->
    <div class="rounded-md bg-white p-8 shadow-xl sm:mx-auto sm:w-full sm:max-w-max border-[1px] border-gray-200">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 bg-white shadow-xl gap-2 p-4">
        <div class="group relative flex flex-col justify-center items-center h-max bg-white rounded-md p-4 gap-2 cursor-pointer border-[1px] border-white hover:border-gray-200" 
          *ngFor="let item of dataHome">
          <!-- link == true -->
          <a *ngIf="item.link" [href]="item.path" class="text-center w-full h-[270px]">
            <img  class="h-full w-full object-cover object-center max-h-[240px]"
            [src]="item.img" 
            [alt]="item.title">
            <p class="text-xl font-medium text-black bg-white">{{item.title}}</p>
          </a>
          <!-- link == false -->
          <div *ngIf="!item.link" class="text-center w-full h-[270px]"
            [routerLink]="item.path">
            <img  class="h-full w-full object-cover object-center max-h-[240px] opacity-35"
              [src]="item.img" 
              [alt]="item.title">
            <p class="text-xl font-medium text-black bg-white">{{item.title}}</p>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

  
