
<div class="flex min-h-[100vh] flex-col justify-center px-6 py-12 lg:px-8 bg-[url('/images/auth-images/background.png')] bg-cover bg-center">
  <div class="card md:card-side rounded-md bg-white p-6 shadow-xl sm:mx-auto sm:w-full sm:max-w-max">

    <section class="relative rounded-md bg-[url('/images/38.png')] bg-cover bg-center p-12">
      <div class="absolute top-0 left-0 w-full h-full bg-[#6b85b4] opacity-10"></div>
      <div class="text-xl font-semibold mb-6">
        <p class="text-black">e-PHA</p>
        <p class="text-[#8a94ad]">Process Hazard Analysis</p>
      </div>
      <div class="mb-32 text-black">
        <div class="flex items-center"><mat-icon class="text-green-600 text-xl pt-1" >check_circle_outline</mat-icon>HAZOP</div>
        <div class="flex items-center"><mat-icon class="text-green-600 text-xl pt-1" >check_circle_outline</mat-icon>JSEA</div>
        <div class="flex items-center"><mat-icon class="text-green-600 text-xl pt-1" >check_circle_outline</mat-icon>What’s If</div>
        <div class="flex items-center"><mat-icon class="text-green-600 text-xl pt-1" >check_circle_outline</mat-icon>HRA</div>
        <div class="flex items-center"><mat-icon class="text-green-600 text-xl pt-1" >check_circle_outline</mat-icon>Bow-Tie Diagram</div>
      </div>
      <img class="w-72" src="/images/auth-images/auth.png" alt="">
    </section>

    <section class="py-10 px-24">
      <div class="px-20">
        <div class="w-72 flex flex-col justify-center gap-2">
          <img class="w-full" src="/icons/logo-thaioil-epha@3x.png" alt="Your Company">
          <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign In</h2>
          <p class="text-center">Get access to your account Staff or Contractor</p>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" [formGroup]="loginForm">
                <div class="flex flex-col gap-1">
                  <label for="email" class="block text-sm text-gray-900">Email address</label>
                  <app-input 
                    [formControl]="loginForm.get('username')" 
                    [placeholder]="'name@thaioilgroup.com'"
                    [type]="'email'" 
                    [icon]="'person'" 
                    [error]="error"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="password" class="block text-sm text-gray-900">Password</label>
                  <app-input 
                    [formControl]="loginForm.get('password')" 
                    [placeholder]="'password'"
                    [type]="'password'" 
                    [icon]="'key'" 
                    [error]="error"/>
                </div>
                <div>
                  <button (click)="onLogin()" class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-md font-medium leading-6 text-white shadow-sm hover:bg-blue-500">Sign in</button>
                </div>
              </form>
      
          <p class="mt-10 text-center text-sm text-gray-500">
            Not a member?
            <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
  
<lib-toastify-toast-container></lib-toastify-toast-container>
  