
<div class="flex flex-col">
  <app-header [title]="title"/>
  <div role="tablist" class="tabs tabs-lifted tabs-lg">
    <input type="radio" 
      name="my_tabs_2" 
      role="tab" 
      class="tab font-semibold text-sm [--tab-bg:#faebff] [--tab-border-color:#d1ceff]" 
      aria-label="General" 
      checked="checked"/>
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      General
    </div>
    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab font-semibold text-sm [--tab-bg:#faebff] [--tab-border-color:#d1ceff]"
      aria-label="Session" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      Session
    </div>
    <input type="radio" 
      name="my_tabs_2" 
      role="tab" 
      class="tab font-semibold text-sm [--tab-bg:#faebff] [--tab-border-color:#d1ceff]" 
      aria-label="Worksheet" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      Worksheet
    </div>
  </div>
</div>
  