<div class="dropdown dropdown-start">
    <button class="relative hover:bg-slate-100 rounded-md" tabindex="0">
      <i class="fa-solid fa-gear text-primary p-1" role="button"></i>
    </button>
    <ul tabindex="0" class="mt-3 z-[1] p-0 pt-1 shadow menu menu-sm dropdown-content font-light text-gray-500 bg-white border-[1px] border-gray-300 rounded-md w-52">
      <li class="py-2">
        <a class="text-success rounded-none p-2 pl-4" (click)="onAdd()">
          <i class="fa-solid fa-circle-plus"></i>
          Add
        </a>
      </li>
      <hr>
      <li class="py-2">
        <a class="text-primary rounded-none p-2 pl-4" (click)="onCopy()">
          <i class="fa-solid fa-copy"></i>
          Copy
        </a>
      </li>
      <hr>
      <li class="py-2">
        <a class="text-danger rounded-none p-2 pl-4" (click)="onDelete()">
          <i class="fa-solid fa-circle-xmark"></i>
          Remove
        </a>
      </li>
    </ul>
  </div>