/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --navbar-height: 64px; /* กำหนดความสูงของ navbar */
}

html, body {  
    background: #f5f7fa; 
    color: #374151;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
    @apply flex flex-col gap-4 py-2 px-6;
    min-height: calc(100vh - var(--navbar-height));
}

.main-card {
    @apply bg-white p-6 border-[1px] border-gray-200 rounded-lg shadow-md
}

/* ปรับแต่งแท็บทุกตัวในโปรเจค */
.tab {
    --tab-padding: 36px; 
    height: 36px;
    white-space: nowrap; /* บังคับให้ข้อความอยู่บรรทัดเดียว */
    // overflow: hidden; /* ซ่อนข้อความที่เกินพื้นที่ */
    // text-overflow: ellipsis; /* ตัดข้อความที่เกินและแสดงเครื่องหมายจุดๆ */
    // flex-shrink: 1; /* อนุญาตให้ข้อความหดตัวได้เมื่อหน้าจอเล็กลง */
}
