
<div class="flex flex-col gap-4 min-h-[92vh] py-2 px-6">
    <app-header-follow-up (outBack)="onBack()" (outCreate)="onCreate()"/>
    <div class="flex flex-col gap-2 rounded-lg border-[1px] border-gray-200 bg-[#eff2f6] shadow-sm p-6">
        <div class="w-64 mb-4">
            <app-input icon="search" placeholder="Search Document Number" />
        </div>
        <div role="tablist" class="tabs tabs-lifted tabs-md">
            <input 
                type="radio" 
                name="tabs_hazid" 
                role="tab" 
                class="tab text-md font-medium [--tab-bg:#3874ff] [--tab-border-color:#3874ff]" 
                aria-label="Worksheet" 
                (click)="toggleTabs(1)"
                [checked]="currentTab == 1"
                [ngClass]="{
                    'text-white': currentTab == 1, 
                    'text-primary': currentTab != 1}"/>
            <div role="tabpanel" class="tab-content border-[2px] border-t-primary py-6">
                <app-table-follow-up subSoftware="hazop" />
            </div>
            <input
                type="radio"
                name="tabs_hazid"
                role="tab"
                class="tab text-md font-medium [--tab-bg:#3874ff] [--tab-border-color:#3874ff]"
                aria-label="Responder" 
                (click)="toggleTabs(2)"
                [checked]="currentTab == 2"
                [ngClass]="{
                    'text-white': currentTab == 2, 
                    'text-primary': currentTab != 2}"/>
            <div role="tabpanel" class="tab-content border-[2px] border-t-primary py-6">
                <!-- <app-hazid-tab-session/> -->
            </div>
        </div>
    </div>
</div>