
<div class="main-container">
    <app-header-search />
    <div class="main-card">
        <!-- rows 1 -->
        <div class="flex gap-10">
            <div class="w-64 mb-4">
                <app-select 
                    label="Sub-Software"
                    [options]="listSubSoftware" 
                    (outChange)="onChangeFilter('subSoftware', $event)"
                    [formControl]="filterForm.get('subSoftware')"
                />
            </div>
            <div class="w-64 mb-4">
                <app-select 
                    label="Status"
                    [options]="listStatusSoftware" 
                    (outChange)="onChangeFilter('status', $event)"
                    [formControl]="filterForm.get('status')"
                />
            </div>
        </div>
        <div class="divider"></div>
        <!-- rows 2 -->
         <div class="flex gap-10">
            <div class="w-64 mb-4">
                <app-select 
                    label="Expense Type"
                    [options]="listExpenseType" 
                    (outChange)="onChangeFilter('ExpenseType', $event)"
                    [formControl]="filterForm.get('expenseType')"
                />
            </div>
            <div class="w-64 mb-4">
                <app-select 
                    label="SubExpense Type"
                    [options]="listSubExpenseType" 
                    (outChange)="onChangeFilter('SubExpenseType', $event)"
                    [formControl]="filterForm.get('subExpensetype')"
                />
            </div>
            <div class="w-64 mb-4">
                <app-input 
                    label="Reference Moc"
                    placeholder="Reference MOC" 
                    (outChange)="onChangeFilter('ReferenceMoc', $event)"
                    [formControl]="filterForm.get('referenceMoc')" 
                />
            </div>
         </div>
        <!-- rows 3 -->
         <div class="flex gap-10">
            <div class="w-64 mb-4">
                <app-input 
                    label="Project No"
                    placeholder="Projec No" 
                    (outChange)="onChangeFilter('ProjectNo', $event)"
                    [formControl]="filterForm.get('projectNo')" 
                />
            </div>
            <div class="w-64 mb-4">
                <app-input 
                    label="Attendees Name"
                    placeholder="คนที่เกี่ยวข้องทั้งหมด (Owner, Member Team, Safety Reviewer, Attendees, ผู้เชี่ยวชาญเฉพาะด้าน)" 
                    (outChange)="onChangeFilter('AttendeesName', $event)"
                    [formControl]="filterForm.get('attendeesName')" 
                />
            </div>
         </div>
         <!-- table -->
          <div class="main-card">
            <app-title [title]="'Result (' + listData.length + ')'" />
            <div class="max-h-96 overflow-auto mt-6">
                <table class="table text-md border border-gray-300">
                  <thead class="bg-[#f5f7fa]">
                    <tr class="uppercase text-gray-700">
                      <th class="text-center border border-gray-300" rowspan="2"></th>
                      <th class="text-center border border-gray-300" rowspan="2">Sub-Software</th>
                      <th class="text-center border border-gray-300" rowspan="2">PHA Status</th>
                      <th class="text-center border border-gray-300" rowspan="2">PHA No.</th>
                      <th class="text-center border border-gray-300" rowspan="2">Task Name</th>
                      <th class="text-center border border-gray-300" colspan="3">Items Status</th>
                      <th class="text-center border border-gray-300" rowspan="2"></th>
                    </tr>
                    <tr class="uppercase text-gray-700">
                      <th class="text-center border border-gray-300">total</th>
                      <th class="text-center border border-gray-300">open</th>
                      <th class="text-center border border-gray-300">close</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listData">
                        <td class="text-center border border-gray-300 text-primary"><span class="link">See Action Items</span></td>
                        <td class="text-center border border-gray-300 uppercase">{{item.pha_sub_software}}</td>
                        <td class="text-center border border-gray-300 uppercase">{{item.pha_status_name}}</td>
                        <td class="text-center border border-gray-300 uppercase">{{item.pha_no}}</td>
                        <td class="text-center border border-gray-300">{{item.pha_request_name}}</td>
                        <td class="text-center border border-gray-300"></td>
                        <td class="text-center border border-gray-300 text-danger"></td>
                        <td class="text-center border border-gray-300 text-success"></td>
                        <td class="text-center border border-gray-300 text-primary"><span  class="link">See Details</span></td>
                    </tr>
                    <tr *ngIf="!listData.length">
                        <td colspan="9" class="text-center border border-gray-300">No data available</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
    </div>
</div>