
<div class="main-container">
    <app-header-home title="Search Sub-Software" />
    <div class="main-card">
        <!-- rows 1 -->
        <div class="flex gap-10">
            <div class="w-64 mb-4">
                <app-select 
                    label="Sub-Software"
                    [options]="listSubSoftware" 
                    (outChange)="onChangeFilter('subSoftware', $event)"
                    [formControl]="filterForm.get('subSoftware')"
                />
            </div>
            <div class="w-64 mb-4">
                <app-select 
                    label="Status"
                    [options]="listStatusSoftware" 
                    (outChange)="onChangeFilter('status', $event)"
                    [formControl]="filterForm.get('status')"
                />
            </div>
        </div>
        <!-- rows 2 -->
         <div class="flex gap-10">
            <div class="w-64 mb-4">
                <app-select 
                    label="Expense Type"
                    [options]="listExpenseType" 
                    (outChange)="onChangeFilter('ExpenseType', $event)"
                    [formControl]="filterForm.get('expenseType')"
                />
            </div>
            <div class="w-64 mb-4">
                <app-select 
                    label="SubExpense Type"
                    [options]="listSubExpenseType" 
                    (outChange)="onChangeFilter('SubExpenseType', $event)"
                    [formControl]="filterForm.get('subExpensetype')"
                />
            </div>
            <div class="w-64 mb-4">
                <app-input 
                    label="Reference Moc"
                    placeholder="Reference MOC" 
                    (outChange)="onChangeFilter('ReferenceMoc', $event)"
                    [formControl]="filterForm.get('referenceMoc')" 
                />
            </div>
         </div>
        <!-- rows 3 -->
         <div class="flex gap-10">
            <div class="w-64 mb-4">
                <app-input 
                    label="Project No"
                    placeholder="Projec No" 
                    (outChange)="onChangeFilter('ProjectNo', $event)"
                    [formControl]="filterForm.get('projectNo')" 
                />
            </div>
            <div class="w-64 mb-4">
                <app-input 
                    label="Project Name"
                    placeholder="Project Name" 
                    (outChange)="onChangeFilter('ProjectName', $event)"
                    [formControl]="filterForm.get('projectName')" 
                />
            </div>
            <div class="w-64 mb-4">
                <app-input 
                    label="Attendees Name"
                    placeholder="คนที่เกี่ยวข้องทั้งหมด (Owner, Member Team, Safety Reviewer, Attendees, ผู้เชี่ยวชาญเฉพาะด้าน)" 
                    (outChange)="onChangeFilter('AttendeesName', $event)"
                    [formControl]="filterForm.get('attendeesName')" 
                />
            </div>
         </div>
         <!-- table -->
          <div class="main-card">
            <app-title [title]="'Results (' + listData.length + ')'" />
            <div class="max-h-96 overflow-auto mt-6">
                <table class="table text-md border border-gray-300">
                  <thead class="bg-[#f5f7fa]">
                    <tr class="uppercase text-gray-700">
                      <th class="text-center  border-gray-300 w-[5%]" ></th>
                      <th class="text-center  border-gray-300 w-[15%]" >Project No.</th>
                      <th class="text-center  border-gray-300" >Tasks Name <span class="text-gray-500">(ชื่องาน)</span></th>
                      <th class="text-center  border-gray-300 w-[15%]" >Status</th>
                      <th class="text-center  border-gray-300 w-[15%]" >Revision</th>
                      <th class="text-center  border-gray-300 w-[10%]" >request</th>
                      <th class="text-center  border-gray-300 w-[5%]" ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listData">
                        <td class="text-center  border-gray-300 text-primary">
                            <div class="flex items-center justify-center w-full gap-4 p-2">
                                <button> <i class="fa-solid fa-file-pdf text-2xl text-danger"></i></button>
                                <button (click)="onOpenDocument(item)"><i class="fa-solid fa-share text-2xl"></i></button>
                                {{item.id_apu}}
                            </div>
                        </td>
                        <td class="text-center  border-gray-300 uppercase">{{item.pha_no}}</td>
                        <td class="text-center  border-gray-300 uppercase">{{item.pha_request_name}}</td>
                        <td class="text-center  border-gray-300 uppercase">{{item.pha_status_displayname}}</td>
                        <td class="text-center  border-gray-300">{{item.pha_version_desc ?item.pha_version_text + '(' + item.pha_version_desc + ')' : '-'}}</td>
                        <td class="text-center  border-gray-300">{{item.request_user_displayname ?item.request_user_displayname :'-'}}</td>
                        <td class="text-center  border-gray-300"><button><i class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr *ngIf="!listData.length">
                        <td colspan="9" class="text-center  border-gray-300">No data available</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
    </div>
</div>